/* ==========================================================================
Testimonials Styles
========================================================================== */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.row > * {
  flex-basis: calc(50% - 15px);
  gap: 30px 10px;
  margin: 10px auto;
}

.testimonial {
    background-color: $smoke-white;
    color: #333;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    display: grid;
    grid-template-areas: "face quote" ". author";
    padding: 30px 30px 30px 30px;

    * { box-sizing: border-box; }
    img {
        grid-area: face;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        align-self: center;
    }
    blockquote {
        grid-area: quote;
        margin: 0;
        position: relative;
        padding: 0px 50px;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.6em;
        align-self: center;
    }
    blockquote:before, blockquote:after {
        font-family: 'FontAwesome';
        content: "\f10d";
        position: absolute;
        font-size: 20px;
        opacity: 0.3;
        font-style: normal;
    }
    blockquote:before {
        top: 10px;
        left: 20px;
    }
    blockquote:after {
        content: "\f10e";
        right: 20px;
        bottom: 0px;
    }
    .author {
      padding-left: 50px;
        grid-area: author;
        margin: 0;
        display: block;
        text-align: left;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
  .row { flex-direction: column; }
  .testimonial {
    grid-template-areas: "quote quote" "face author";
    grid-template-columns: 100px 1fr;

    .author {
      padding-left: 30px;
      align-self: center;
    }
  }
}
