// Main container

.hero
  align-items: stretch
  display: flex
  flex-direction: column
  justify-content: space-between
  .navbar
    background: none

.hero-body
  flex-grow: 1
  flex-shrink: 0
  padding: 3rem 1.5rem

  .buttons
    margin-top: 1.5rem
    display: flex;
    justify-content: space-around
    .button
      margin: 0

.hero-body .title,
.hero-body .subtitle
  text-align: center


