{{ define "main" }}
    {{ partial "navbar.html" . }}
    {{ partial "hero-body.html" . }}

    {{ partial "section2.html" . }}
    {{ partial "section1.html" . }}
    {{ partial "section4.html" . }}
    {{ partial "section6.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
{{ end }}
