{{- $footer      		:= .Site.Params.footer }}
{{- $logo        		:= index $footer "logo" }}

<footer class="footer footer-dark" id="translations">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Uma iniciativa de</h3>
              <a href="https://ansol.org" style="color: #a39688" target="_blank">ANSOL</a>
              + <a href="https://fsfe.org" style="color: #a39688" target="_blank">FSFE</a>
          </div>
        </div>
      </div>
  </div>
  <div class="title-wrapper has-text-centered">
    <p><a href="https://ansol.org/contactos" style="color: #a39688" target="_blank">Contacto</a> |
    <a href="https://ansol.org/sobre" style="color: #a39688" target="_blank">Sobre</a> |
    <a href="https://gitlab.com/ansol/fedigov.pt/" style="color: #a39688" target="_blank">Código</a> |
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" style="color: #a39688">CC-BY-SA 3.0</a></p>
  </div>
</footer>
