<div class="hero-body">
  <div class="container">
    <h1 class="title is-1 is-bold is-spaced">
      Comunicação federada nas instituições públicas
    </h1>
    <h2 class="subtitle is-5 is-muted">
      Comunicar com o público com confiança e respeito
    </h2>

    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <p class="is-6">
          As instituições públicas usam maioritariamente plataformas
          proprietárias como X (antigo Twitter), Facebook, Instagram e YouTube.

          As empresas donas destas plataformas controlam quem as pode utilizar
          e como podem ser utilizadas.

          Ao promover e utilizar estas serviços, as instituições públicas
          acabam também por publicitar e incentivar a sua utilização.
          <br/>
          <br/>
          Queremos convencer as instituições públicas a repensar o seu uso das
          redes sociais. Isto é possível com a transição gradual para soluções
          federadas de Software Livre.
        </p>
        <div class='buttons'>
          <a class="button cta rounded primary-btn raised" href="#section6_id">
            Intervir
          </a>
          <a class="button cta rounded primary-btn raised" href="#section1_id">
            Fedi... quê?
          </a>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="/images/illustrations/fedigov1.svg" alt="">
        </figure>
      </div>
    </div>
  </div>
</div>
