{{- $section6   := .Site.Params.section6 }}
{{- $text       := i18n (index $section6 "text") }}
{{- $mailto     := i18n (index $section6 "mailto") }}
{{- $subject    := i18n "section6_subject" }}
<section id="section6_id" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title">Contacte as instituições públicas</h2>
      <h3 class="subtitle is-5 is-muted">Uma carta postal recebe mais atenção que uma mensagem de correio electrónico. Copie o texto abaixo e envie uma carta para as instituições públicas.</h3>
    </div>

    <div class="media-content mt-50" style="background-color: white; padding: 20px;">
      <div class="content">
        <p>Assunto: {{ $subject }}</p>

        {{ $text | markdownify }}
      </div>
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised"
         href="mailto:{{ $mailto }}&subject={{ $subject }}&body={{ replace (replace $text "\n\n" "%0D%0A%0D%0A") "\n" " " }}">
        Alternativamente, envie um email
      </a>
    </p>
  </div>
</section>
