<section id="section2_id" class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h1 class="title is-2">Motivos para mudar</h1>
      <h3 class="subtitle is-5 is-muted">O ponto de partida para uma comunicação ética</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="row">
        <article class="">
          <h3 class="icon-box-title">Soberania</h3>
          <p class="icon-box-text">
            A soberania digital procura a utilização independente e
            auto-determinada de tecnologias digitais por parte do
            Estado, organizações e indivíduos. Soluções de Software
            Livre descentralizadas dão-nos o direito de as usar,
            estudar, distribuir e melhorar para qualquer objectivo.
            Este é um ponto fundamental para a democracia numa
            sociedade cada vez mais digital.
          </p>
        </article>
        <article class="">
          <h3 class="icon-box-title">Protecção de Dados</h3>
          <p class="icon-box-text">
            As pessoas não devem ser forçadas a ceder os seus dados a
            grandes empresas só para poderem comunicar com instituições
            públicas. A administração pública deve apoiar o público a
            proteger os seus dados e, por consequência, oferecer também alternativas.
          </p>
        </article>
      </div>
      <div class="row">
        <article class="icon-box">
          <h3 class="icon-box-title">Dinheiro público</h3>
          <p class="icon-box-text">
              O dinheiro público deve ser usado para o benefício da população 
              e para cumprir as obrigações das instituições públicas, 
              e não para patrocinar modelos de negócio duvidosos de 
              fornecedores internacionais. Conheça e divulgue a iniciativa 
              <a href="https://publiccode.eu/pt/">Dinheiro Público? Código Público!</a>
          </p>
        </article>
        <article class="icon-box">
          <h3 class="icon-box-title">Certeza jurídica</h3>
          <p class="icon-box-text">
              É difícil de conciliar a utilização de redes sociais de
              empresas gigantes tecnológicas com as leis de protecção de
              dados. As instituições públicas têm o dever de garantir a
              comunicação segura e legal das pessoas.
            </span>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
