<section id="section4_id" class="section is-medium section-secondary">

    <div class="title-wrapper has-text-centered">
      <h2 class="title light-text is-spaced">Casos de sucesso na Europa</h2>
      <h3 class="subtitle is-5 light-text">Instituições Europeias já comunicam com o público de forma soberana, sem publicidade e com foco na privacidade.</h3>
    </div>

    <div class="content-wrapper">
      <div class="row">
        <div class="testimonial">
          <img src="/images/quotes/VolkerBrozio.png" />
          <blockquote>
            Com o nosso novo perfil de Mastodon queremos mostrar que as redes sociais podem ser usadas de acordo com as leis de protecção de dados.
          </blockquote>
          <div class="author">
            Volker Brozio, Encarregado interino de protecção de dados de Berlim
          </div>
        </div>
        <div class="testimonial">
          <img src="/images/quotes/WojciechWiewiórowski.jpg" />
          <blockquote>
            Com o lançamento piloto do EU Voice e EU Video, queremos oferecer redes sociais alternativas que prioritizem os indivíduos e o seu direito à privacidade e protecção de dados.
          </blockquote>
          <div class="author">
            Wojciech Wiewiórowski, Autoridade Europeia para a Proteção de Dados
          </div>
        </div>
      </div>
      <div class="row">
        <div class="testimonial">
          <img src="/images/quotes/StefanBrink.jpg" />
          <blockquote>
            Na rede Mastodon, mantemos um diálogo digital activo sem entregar os nossos dados ou os dos utilizadores a uma empresa comercial que faz negócios com os dados pessoais.
          </blockquote>
          <div class="author">
            Stefan Brink, Encarregado de protecção de dados de Baden-Württemberg
          </div>
        </div>
        <div class="testimonial">
          <img src="/images/quotes/AlexandravanHuffelen.png" />
          <blockquote>
            Queremos estimular alternativas públicas para que os valores como privacidade, transparência, e liberdade de escolha não sejam prejudicados por serviços privados.
          </blockquote>
          <div class="author">
            Alexandra van Huffelen, Secretária de Estado da Digitalização dos Países Baixos
          </div>
        </div>
      </div>
    </div>
</section>
