<section id="section1_id" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title">Comunicação aberta no Fediverso</h2>
      <h3 class="subtitle is-5 is-muted">
        Um conjunto de serviços federados usados para publicação na web, alojamento de ficheiros, redes sociais, e microblogging.
      </h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Microblogging</h4>
            </div>
            <div class="card-icon">
                <img src="{{ "/images/illustrations/icons/message-regular.svg" | relURL }}">
            </div>
            <div class="card-text">
                <p>Mastodon em vez de Twitter</p>
            </div>
            <div class="card-action">
              <a href="https://joinmastodon.org/" class="button btn-align-md accent-btn raised">Começar</a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Partilha de fotografias</h4>
            </div>
            <div class="card-icon">
                <img src="{{ "/images/illustrations/icons/image-regular.svg" | relURL }}">
            </div>
            <div class="card-text">
                <p>Pixelfed em vez de Instagram</p>
            </div>
            <div class="card-action">
              <a href="https://pixelfed.org/" class="button btn-align-md accent-btn raised">Começar</a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Partilha de vídeos</h4>
            </div>
            <div class="card-icon">
                <img src="{{ "/images/illustrations/icons/video-solid.svg" | relURL }}">
            </div>
            <div class="card-text">
                <p>Peertube em vez de Youtube</p>
            </div>
            <div class="card-action">
              <a href="https://joinpeertube.org/" class="button btn-align-md accent-btn raised">Começar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="https://fediverse.party/en/fediverse/">
        Explorar o Fediverso
      </a>
    </p>
  </div>
</section>
